@{
    ViewData["Title"] = "Startside";
}

<div class="container">
    <h1 class="display-1">Udfyld min form</h1>
    <p>
        <a href="/GetFormInput/Index"<span>Her finder du formularen</span></a>
    </p>
</div>