@{
ViewBag.Title = "Dit input";
   var input = ViewBag.Input;
}
<table>
    <tr>
        <th>Foravn</th>
        <th>Efternavn</th>
        <th>Email</th>
        <th>Tel.</th>
    </tr>
    <tr>
        <td>@input.firstName</td>
        <td>@input.lastName</td>
        <td>@input.email</td>
        <td>@input.phone</td>
    </tr>
</table> 